<table class="typo3-extension-list t3-table table table-striped table-hover" cellspacing="0">
	<thead>
		<tr class="x-grid3-header">
			<th colspan="2"><h2><f:translate key="beGroups" default="LLL:beGroups"/></h2></th>
		</tr>
	</thead>
	<tbody>
		<tr class="bgColor6">
			<td width="50%"><f:translate key="beGroups.all" default="LLL:beGroups.all"/></td>
			<td><strong>{beGroups.all}</strong></td>
		</tr>
		<tr class="bgColor4">
			<td width="50%"><f:translate key="beGroups.active" default="LLL:beGroups.active"/></td>
			<td><strong>{beGroups.active}</strong></td>
		</tr>
		<tr class="bgColor6">
			<td width="50%"><f:translate key="beGroups.inactive" default="LLL:beGroups.inactive"/></td>
			<td><strong>{beGroups.inactive}</strong></td>
		</tr>

	</tbody>
</table>
