<div class="ext-wrapper" xmlns:f="http://www.w3.org/1999/html">
    <img src="../typo3conf/ext/ns_ext_compatibility/Resources/Public/Icons/loader.svg" alt="Loading...">
</div>
<div class="ext-title">
     <f:render partial="Common/Header" arguments="{sysDetail:sysDetail}"/>
</div>
<div class="ns-table-wrap">
    <div class="row">
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/SysInformation" arguments="{sysDetail:sysDetail, serverInfo:systemInfo.serverInfo}"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/Domains" arguments="{domains:systemInfo.domains}"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/TargetSystemRequirement" arguments="{targetSystemRequirement:targetSystemRequirement,targetVersion:sysDetail.targetVersion}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/UserStatistic" arguments="{userStatistic:systemInfo.userStatistic}"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/BeGroups" arguments="{beGroups:systemInfo.beGroups}"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/ExtOverviewReport" arguments="{overviewReport:overviewReport,targetVersion:sysDetail.targetVersion,typo3version:sysDetail.typo3version}"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/MenuTypes" arguments="{menuTypes:systemInfo.menuTypes}"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/ListTypes" arguments="{listTypes:systemInfo.listTypes}"/>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="ext-report-wrapper">
                <f:render partial="Common/CTypes" arguments="{cTypes:systemInfo.cTypes}"/>
            </div>
        </div>
    </div>

</div>