<table class="typo3-extension-list t3-table table table-striped table-hover" cellspacing="0">
	<thead>
		<tr class="x-grid3-header">
			<th colspan="3"><h2><f:translate key="userStatistic" default="LLL:userStatistic"/></h2></th>
		</tr>
	</thead>
	<tbody>
		<tr class="bgColor6">
			<td width="33%"></td>
			<td width="33%"><f:translate key="userStatistic.beUsers" default="LLL:userStatistic.beUsers"/></td>
			<td><f:translate key="userStatistic.admins" default="LLL:userStatistic.admins"/></td>
		</tr>
		<tr class="bgColor4">
			<td width="33%"><f:translate key="userStatistic.all" default="LLL:userStatistic.all"/></td>
			<td width="33%"><strong>{userStatistic.beUsers.all}</strong></td>
			<td><strong>{userStatistic.admins.all}</strong></td>
		</tr>
		<tr class="bgColor6">
			<td width="33%"><f:translate key="userStatistic.active" default="LLL:userStatistic.active"/></td>
			<td width="33%"><strong>{userStatistic.beUsers.active}</strong></td>
			<td><strong>{userStatistic.admins.active}</strong></td>
		</tr>
		<tr class="bgColor4">
			<td width="33%"><f:translate key="userStatistic.inactive" default="LLL:userStatistic.inactive"/></td>
			<td width="33%"><strong>{userStatistic.beUsers.inactive}</strong></td>
			<td><strong>{userStatistic.admins.inactive}</strong></td>
		</tr>
	</tbody>
</table>
